<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Lista de Alumnos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <h1>Lista de Alumnos</h1>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">nombre</th>
          <th scope="col">talleres</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
  
  <tbody>
               
        <div th:each="alumno:${alumnos}">
            <tr>
                <th scope="row" th:text="${alumno.idAlumno}"></th>
              <td th:text="${alumno.nombre}"></td>
              <td>
                 <div th:each="taller:${alumno.tallerList}">
                     <a th:href="@{taller_edit/}+${taller.idTaller}"> <p th:text="${taller.nombre}"/> </a>
                 </div>
              </td>
              <td><a class="btn btn-success" th:href="@{alumno_edit/}+${alumno.idAlumno}" role="button">Modificar alumno</a></td>
              <td><a class="btn btn-danger" th:href="@{borrar_alumno/}+${alumno.idAlumno}" role="button">Eliminar Alumno</a></td>
              
            </tr>
        </div>
  
  </tbody>
  
</table>
        <div>
            <a href="/crear_alumno" class="btn btn-primary" role="button">Crear Alumno</a>
            <a href="/crear_taller" class="btn btn-primary" role="button">Crear Taller</a>
            <a href="/listar_profesores" class="btn btn-secondary" role="button">Profesores</a>
            <a href="/listar_talleres" class="btn btn-secondary" role="button">Talleres</a>
        </div> 
    </body>
</html>
