<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <form th:action="@{/act_taller}" method="post" th:object="${taller}">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <h3>id</h3>
                        </div>
                        <div class="row">
                            <input type="number" th:field="*{idTaller}"/>
                        </div>
                    </div>
                     <div class="col">
                        <div class="row">
                            <h3>nombre</h3>
                        </div>
                        <div class="row">
                            <input type="text" th:field="*{nombre}"/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <h3>horas</h3>
                        </div>
                        <div class="row">
                            <input type="number" th:field="*{horas}"/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col">
                                <a th:href="@{borrar_taller/}+${taller.idTaller}" class="btn btn-danger" role="button">Eliminar</a>
                            </div>
                            <div class="col">
                               <button type="submit" class="btn btn-warning">Modificar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
